.profile-photo {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Google_Chrome_icon_%28February_2022%29.svg/800px-Google_Chrome_icon_%28February_2022%29.svg.png");
    background-size: 100%;
    background-position: 80% 0%;
    background-repeat: no-repeat;
    

}
.primary__button {
  background-color: #0095f6;
  border-radius: 4px;
  color: #fff;
  padding: 5px 9px;
  font-weight: 600;
  text-align: center;
}

.profile-info {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  hr {
    justify-content:center;
    align-content: center;
    width: 100%;
  }

  
  .solid{
    align-items: center;
  } 


  /* body{
    margin : 0 ;
    padding : 0;
    
  }
  .wrapper
  {
    height:300px;
    width:300px;
    position:relative;
    border: 5px solid black;
    border-radius:50%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Google_Chrome_icon_%28February_2022%29.svg/800px-Google_Chrome_icon_%28February_2022%29.svg.png");
    background-size: 100% 100%;
    margin : 100px auto;
    overflow:hidden;
  }
  .my_file{
    position : absolute;
    bottom: 0;
    outline:none;
    color:transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 120px;
    cursor: pointer;
    transition : 0.5s;
    background: rgba(0,0,0,0.5);
     opacity: 0;
  }
  .my_file::-webkit-file-upload-button{
    visibility : hidden;
  }
  .my_file::before{
    content:'\f030';
    font-family: "FontAwesome";
    font-size : 50px;
    color: black;
    display:inline-block;
    -webkit-user-select: none;
  }
  .my_file::after{
    content : 'Update';
    font-family: 'arial';
    font-weight: bold;
    color : black;
    display: block;
    top:70px;
    font-size: 14px; 
    position : absolute;

  } */

  /* img{
    width : 250px;
    height : 250px;
    border-radius: 50%;
    object-fit: cover;
    background-size: 100% 100%;
    margin : 100px auto;
    overflow:hidden;
    border : 4px solid green

  } */

  .confirmation {
    flex : column;
    content:flex ;
    align-items: center;
    
    
  }